@import url('https://fonts.googleapis.com/css2?family=Secular+One&display=swap');

body {
    background-color: #fafafa;
}

.libri-container {
    text-align: center;
}

.libri {
    margin-top: 5vh;
    margin-left: -2.5vw;
}

#form {
    margin-top: 25vh;
}

.input, .button {
    width: 100%;
    text-align: center;
}

#eljugador {
    border: 1px solid #e5e5e5;
    border-radius: 30px;
    background-color: #e5e5e5;
    font-family: 'Secular One', sans-serif;
    width: 20vw;
    height: 4vh;
}

#eljugador:focus {
    outline: none;
}

input[type=text] {
    padding:0 20px;
}

#giralaruota {
    margin-top: 3vh;
    border: 1px solid #56b84c;
    border-radius: 30px;
    background-color: #56b84c;
    height: 4vh;
    width: 10vw;
    color: whitesmoke;
    font-family: 'Secular One', sans-serif;
}

#giralaruota:focus {
    outline: none;
}

#giralaruota:active {
    outline: none;
    border:#4da544;
    background-color: #4da544;
}

#caricamento {
    text-align: center;
    font-family: 'Secular One', sans-serif;
    display: none;
}

#fortunello {
    display: none;
    margin-top: 10vh;
}

#face, #tip {
    text-align: center;
    font-family: 'Secular One', sans-serif;
    margin-bottom: 5vh;
}

#pic {
    height: 30vh;
}

#tip {
    font-size: larger;
}

@media only screen and (max-width: 767px) {
    .libri {
        margin-left: -12vw;
    }

    #eljugador {
        width: 60vw;
        height: 10vw;
    }

    #giralaruota {
        width: 35vw;
        height: 10vw;
    }

    #pic {
        height: 25vh;
    }

    #tip {
        font-size: smaller;
    }
}